---
import HeaderLink from "./HeaderLink.astro";
---

<ul>
  {
    import.meta.env.LIT_LINK ? (
      <li>
        <HeaderLink
          href={import.meta.env.LIT_LINK}
          target="_blank"
          rel="noopener noreferrer me"
        >
          各種アカウントへのリンク（lit.link）
        </HeaderLink>
      </li>
    ) : null
  }
  {
    import.meta.env.PIXIV ? (
      <li>
        <HeaderLink
          href={import.meta.env.PIXIV}
          target="_blank"
          rel="noopener noreferrer me"
        >
          pixiv
        </HeaderLink>
      </li>
    ) : null
  }
  {
    import.meta.env.FANBOX ? (
      <li>
        <HeaderLink
          href={import.meta.env.FANBOX}
          target="_blank"
          rel="noopener noreferrer me"
        >
          FANBOX
        </HeaderLink>
      </li>
    ) : null
  }
  {
    import.meta.env.XFOLIO ? (
      <li>
        <HeaderLink
          href={import.meta.env.XFOLIO}
          target="_blank"
          rel="noopener noreferrer me"
        >
          Xfolio
        </HeaderLink>
      </li>
    ) : null
  }
  {
    import.meta.env.X ? (
      <li>
        <HeaderLink
          href={import.meta.env.X}
          target="_blank"
          rel="noopener noreferrer me"
        >
          X
        </HeaderLink>
      </li>
    ) : null
  }
  {
    import.meta.env.THREADS ? (
      <li>
        <HeaderLink
          href={import.meta.env.THREADS}
          target="_blank"
          rel="noopener noreferrer me"
        >
          Threads
        </HeaderLink>
      </li>
    ) : null
  }
  {
    import.meta.env.MASTODON ? (
      <li>
        <HeaderLink
          href={import.meta.env.MASTODON}
          target="_blank"
          rel="noopener noreferrer me"
        >
          Mastodon
        </HeaderLink>
      </li>
    ) : null
  }
  {
    import.meta.env.MISSKEY ? (
      <li>
        <HeaderLink
          href={import.meta.env.MISSKEY}
          target="_blank"
          rel="noopener noreferrer me"
        >
          Misskey
        </HeaderLink>
      </li>
    ) : null
  }
  {
    import.meta.env.BLUESKY ? (
      <li>
        <HeaderLink
          href={import.meta.env.BLUESKY}
          target="_blank"
          rel="noopener noreferrer me"
        >
          Bluesky
        </HeaderLink>
      </li>
    ) : null
  }
  {
    import.meta.env.OLD_SITE ? (
      <li>
        <HeaderLink
          href={import.meta.env.OLD_SITE}
          target="_blank"
          rel="noopener noreferrer me"
        >
          旧サイト
        </HeaderLink>
      </li>
    ) : null
  }
  {
    import.meta.env.DEVIANTART ? (
      <li>
        <HeaderLink
          href={import.meta.env.DEVIANTART}
          target="_blank"
          rel="noopener noreferrer me"
        >
          DeviantArt
        </HeaderLink>
      </li>
    ) : null
  }
</ul>
