---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";

export interface Props {
  title: string;
  description: string;
  image?: string;
  robots?: string;
}

const {
  title,
  description,
  image = import.meta.env.CARD_IMAGE,
  robots = "index, follow",
} = Astro.props;
---

<!-- Google Tag Manager -->
<script type="text/partytown">
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != "dataLayer" ? "&l=" + l : "";
    j.async = true;
    j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, "script", "dataLayer", "GTM-WM9326C");
</script>
<!-- End Google Tag Manager -->

<!-- The next line enables the indexing by robots on the page level -->
<meta name="robots" content={robots} />

<!-- Google Adsense -->
<script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9621814408753320"
  crossorigin="anonymous"
></script>

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<!-- <meta property="og:image" content={new URL(image, Astro.url)} /> -->
<meta property="og:image" content={image + '?fit=crop&crop=top&w=720&h=360'} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={image + '?fit=crop&crop=top&w=720&h=360'} />

<!-- font awesome -->
<style>.fa-brands,.fab{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:var(--fa-display,inline-block);font-style:normal;font-variant:normal;line-height:1;text-rendering:auto}.fa-brands,.fab{font-family:"Font Awesome 6 Brands"}</style>
<style>:host,:root{--fa-style-family-brands:"Font Awesome 6 Brands";--fa-font-brands:normal 400 1em/1 "Font Awesome 6 Brands"}.fa-brands,.fab{font-weight:400}.fa-facebook:before{content:"\f09a"}.fa-line:before{content:"\f3c0"}.fa-get-pocket:before{content:"\f265"}.fa-twitter:before{content:"\f099"}</style>
<!-- <link rel="stylesheet" href="/fontawesome-free-6.3.0-web/css/fontawesome.min.css">
<link rel="stylesheet" href="/fontawesome-free-6.3.0-web/css/brands.min.css"> -->
<link rel="preload" href="/fontawesome-free-6.3.0-web/css/fontawesome.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="/fontawesome-free-6.3.0-web/css/brands.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

<!-- rss feed -->
<link rel="alternate" type="application/rss+xml" href={`https://${Astro.request.url.split('/')[2]}/feed.xml`} title="RSS2.0">
<link rel="alternate" type="application/atom+xml" href={`https://${Astro.request.url.split('/')[2]}/feed.xml`} title="Atom">
