---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";

export interface Props {
  title: string;
  description: string;
  image?: string;
  robots?: string;
}

const {
  title,
  description,
  image = import.meta.env.CARD_IMAGE,
  robots = "index, follow",
} = Astro.props;
---

<!-- Google Tag Manager -->

<!-- New GTM Test -->
<!-- <script type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=YOUR-ID-HERE"></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0M4H6RV722');
</script> -->

<!-- New GTM Test 2 -->
<script>
  const searchParams = new URL(window.location.href);
  const isDebug = searchParams.searchParams.get("gtm_debug");

  const scripts = [
    {
      src: "https://www.googletagmanager.com/gtm.js?id=GTM-WM9326C",
      text: null,
    },
    {
      src: null,
      text: `
      window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'G-0M4H6RV722');
      `,
    },
  ];

  function injectScripts() {
    scripts.forEach((s) => {
      const script = document.createElement("script");
      script.type = isDebug ? "text/javascript" : "text/partytown";

      if (s.src) script.src = s.src;
      if (s.text) script.text = s.text;
      document.head.appendChild(script);
    });
  }

  injectScripts();
</script>

<!-- The next line enables the indexing by robots on the page level -->
<meta name="robots" content={robots} />

<!-- Google Adsense -->
<script type="text/javascript">
//<![CDATA[
// iPhone iPad iPod Android の判別
if (
  navigator.userAgent.indexOf("iPhone") > 0 ||
  navigator.userAgent.indexOf("iPad") > 0 ||
  navigator.userAgent.indexOf("iPod") > 0 ||
  navigator.userAgent.indexOf("Android") > 0
) {
  var lazyadsense = false;
  window.addEventListener(
    "scroll",
    function () {
      if (
        (document.documentElement.scrollTop != 0 && lazyadsense === false) ||
        (document.body.scrollTop != 0 && lazyadsense === false)
      ) {
        (function () {
          var ad = document.createElement("script");
          ad.type = "text/javascript";
          ad.async = true;
          ad.src =
            "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9621814408753320";
          ad.crossorigin = "anonymous";
          var sc = document.getElementsByTagName("script")[0];
          sc.parentNode.insertBefore(ad, sc);
        })();

        lazyadsense = true;
      }
    },
    true
  );
} else {
  // scriptタグ生成
  const createAdsbygooglejs = document.createElement("script");

  // src属性をtrue,src属性に読み込みたいファイルを指定
  createAdsbygooglejs.async = true;
  createAdsbygooglejs.src =
    "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9621814408753320";
  createAdsbygooglejs.crossorigin = "anonymous";

  // DOMツリー構築完了時に
  document.addEventListener("DOMContentLoaded", () => {
    // BODY要素の最後に追加
    document.body.appendChild(createAdsbygooglejs);
  });
}
//]]>
</script>

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<!-- <meta property="og:image" content={new URL(image, Astro.url)} /> -->
<meta property="og:image" content={image + "?fit=crop&crop=top&w=720&h=360"} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta
  property="twitter:image"
  content={image + "?fit=crop&crop=top&w=720&h=360"}
/>

<!-- font awesome -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css" integrity="sha512-siarrzI1u3pCqFG2LEzi87McrBmq6Tp7juVsdmGY1Dr8Saw+ZBAzDzrGwX3vgxX1NkioYNCFOVC0GpDPss10zQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- rss feed -->
<link
  rel="alte   r nat e"
  type =" application/rss+xml"
  href={`https://${Astro.request.url.split("/")[2]}/feed.xml`}
  title="RSS2.0"
/>
