---
import AccountsLinks from "./AccountsLinks.astro";
import HeaderLink from "./HeaderLink.astro";
import SearchForm from "./SearchForm.astro";
import FediverseFollowForm from "./FediverseFollowForm.astro";
import { SITE_TITLE, ICON_HEADER } from "../config";
import type { Category, Link } from "../library/microcms";

//microCMS呼び出し
import { cmsBlog } from "../library/microcms";
const { contents: categories } = await cmsBlog.getCategories({
  fields: ["id", "name"],
  orders: "name",
});
const { contents: links } = await cmsBlog.getLinks({
  fields: ["createdAt", "title", "url"],
  orders: "createdAt",
});
---

<!-- Google Tag Manager (noscript) --><!-- <noscript
  ><iframe
    src="https://www.googletagmanager.com/ns.html?id=GTM-WM9326C"
    height="0"
    width="0"
    style="display:none;visibility:hidden"></iframe></noscript
> --><!-- End Google Tag Manager (noscript) -->
<header>
  <div class="navbar">
    <a href="/" class="">
      <h2 class="site_title">
        <img
          alt="icon"
          width="25"
          height="25"
          src={`${ICON_HEADER}?fm=webp&fit=clip&w=38&h=38`}
        />

        {SITE_TITLE}
      </h2>
    </a>
    <div class="switch_and_hamburger">
      <!-- 🌙or🌄 -->
      <div class="switch">
        <label class="switch-label" for="js_mode_toggle">
          <input type="checkbox" id="js_mode_toggle" />
          <span class="switch-mode" id="js_rotate"></span>
        </label>
      </div>
      <div class="hamburger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </div>
  </div>
  <nav>
    <div class="nav-links">
      <SearchForm searchform_text_id="header_searchform_text" />
      <HeaderLink href="/about">プライバシーポリシー</HeaderLink>
      <HeaderLink href="/feed.xml" target="_blank" rel="noopener noreferrer">
        <i class="fa-sharp fa-solid fa-rss"></i>RSSフィード
      </HeaderLink>
      <details class="fediverse-follow-form">
        <summary class="fediverse-follow-form_button"
          >Follow from Fediverse</summary
        >
        <FediverseFollowForm />
      </details>
      <details class="private_link">
        <summary class="private_link_button">Accounts</summary>
        <AccountsLinks />
      </details>
      <details class="categories_link">
        <summary class="categories_button">Categories</summary>
        <ul>
          {
            categories.map((category: Category) => (
              <li>
                <HeaderLink href={`/category/${category.id}`}>
                  {category.name}
                </HeaderLink>
              </li>
            ))
          }
        </ul>
      </details>
      <details class="external_link">
        <summary class="external_link_button">Link</summary>
        <ul>
          {
            links.map((link: Link) => (
              <li>
                <HeaderLink
                  href={link.url}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  {link.title}
                </HeaderLink>
              </li>
            ))
          }
        </ul>
      </details>
    </div>
  </nav>
</header>
