---
import HeaderLink from "./HeaderLink.astro";
import SearchForm from "./SearchForm.astro";
import { SITE_TITLE } from "../config";

//microCMS呼び出し
import { cmsBlog } from "../library/microcms";
const { contents: categories } = await cmsBlog.getCategories({
  fields: ["id", "name"],
  orders: "name",
});
const { contents: links } = await cmsBlog.getLinks({
  fields: ["createdAt", "title", "url"],
  orders: "createdAt",
});
---

<!-- Google Tag Manager (noscript) -->
<!-- <noscript
  ><iframe
    src="https://www.googletagmanager.com/ns.html?id=GTM-WM9326C"
    height="0"
    width="0"
    style="display:none;visibility:hidden"></iframe></noscript
> -->
<!-- End Google Tag Manager (noscript) -->
<header>
  <div class="navbar">
    <a href="/" class="">
      <h2 class="site_title">
        {SITE_TITLE}
      </h2>
    </a>
    <div class="hamburger">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
  </div>
  <nav>
    <div class="nav-links">
      <SearchForm searchform_text_id="header_searchform_text" />
      <HeaderLink href="/feed.xml" target="_blank" rel="noopener noreferrer">
        <i class="fa-sharp fa-solid fa-rss"></i>RSSフィード
      </HeaderLink>
      <HeaderLink href="/about">プライバシーポリシー</HeaderLink>
      <details class="private_link">
        <summary class="private_link_button">Accounts</summary>
        <ul>
          {
            import.meta.env.LIT_LINK ? (
              <li>
              <HeaderLink
                href={import.meta.env.LIT_LINK}
                target="_blank"
                rel="noopener noreferrer"
              >
                各種アカウントへのリンク（lit.link）
              </HeaderLink>
            </li>
            ) : null
          }
          {
            import.meta.env.TWITTER ? (
            <li>
              <HeaderLink
                href={import.meta.env.TWITTER}
                target="_blank"
                rel="noopener noreferrer"
              >
                X
              </HeaderLink>
            </li>
            ) : null
          }
          {
            import.meta.env.MASTODON ? (
            <li>
              <HeaderLink
                href={import.meta.env.MASTODON}
                target="_blank"
                rel="noopener noreferrer"
              >
                Mastodon
              </HeaderLink>
            </li>
            ) : null
          }
          {
            import.meta.env.PIXIV ? (
            <li>
              <HeaderLink
                href={import.meta.env.PIXIV}
                target="_blank"
                rel="noopener noreferrer"
              >
                pixiv
              </HeaderLink>
            </li>
            ) : null
          }
          {
            import.meta.env.FANBOX ? (
            <li>
              <HeaderLink
                href={import.meta.env.FANBOX}
                target="_blank"
                rel="noopener noreferrer"
              >
                FANBOX
              </HeaderLink>
            </li>
            ) : null
          }
          {
            import.meta.env.OLD_SITE ? (
            <li>
              <HeaderLink
                href={import.meta.env.OLD_SITE}
                target="_blank"
                rel="noopener noreferrer"
              >
                旧サイト
              </HeaderLink>
            </li>
            ) : null
          }
          {
            import.meta.env.DEVIANTART ? (
            <li>
              <HeaderLink
                href={import.meta.env.DEVIANTART}
                target="_blank"
                rel="noopener noreferrer"
              >
                DeviantArt
              </HeaderLink>
            </li>
            ) : null
          }
        </ul>
      </details>
      
      <details class="categories_link">
        <summary class="categories_button">Categories</summary>
        <ul>
          {
            categories.map((category: any) => (
              <li>
                <HeaderLink href={`/category/${category.id}`}>
                  {category.name}
                </HeaderLink>
              </li>
            ))
          }
        </ul>
      </details>
      <details class="external_link">
        <summary class="external_link_button">Link</summary>
        <ul>
          {
            links.map((link: any) => (
              <li>
                <HeaderLink
                  href={link.url}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  {link.title}
                </HeaderLink>
              </li>
            ))
          }
        </ul>
      </details>
    </div>
  </nav>
</header>
