---
const { posts } = Astro.props;
---
<div>
    {
        posts.data.map((post:any,index:number) => (
            <div class="post">
                {post.eyecatch && index === 0 ? <link rel="preload" as="image" href={`${post.eyecatch.url}?fit=crop&crop=top&w=720&h=360&fm=webp`} /><a href={`/posts/${post.id}`} aria-label="記事へ進む"><img width={720} height={360} src={`${post.eyecatch.url}?fit=crop&crop=top&w=720&h=360&fm=webp`} alt="" /></a> : post.eyecatch ? <a href={`/posts/${post.id}`} aria-label="記事へ進む"><img width={720} height={360} data-src={`${post.eyecatch.url}?fit=crop&crop=top&w=720&h=360&fm=webp`} alt="" class="lazyload"/></a> : null }
                <span class="published_time_span">
                    <time datetime={post.publishedAt}>
                        {new Date(post.publishedAt).toLocaleString('ja-JP',{ timeZone: 'Asia/Tokyo' })}
                    </time>
                </span>
                {post.category && <span class="category"><a href={`/category/${post.category.id}`}>{post.category.name}</a></span>}							
                <a href={`/posts/${post.id}`}>
                    <h2>{post.title}</h2>
                    <div class="description">{post.content.replace(/<("[^"]*"|'[^']*'|[^'">])*>/g,'').length > 100 ? post.content.replace(/<("[^"]*"|'[^']*'|[^'">])*>/g,'').slice(0,101) + '...' : post.content.replace(/<("[^"]*"|'[^']*'|[^'">])*>/g,'')}</div>
                </a>
            </div>
        ))
    }
</div>
<script>
  import "lazysizes";
</script>