---
const { posts } = Astro.props;
---

<div>
  {
    posts.map((post: any, index: number) => (
      <div class="post">
        {post.eyecatch && (index === 0 || index === 1) ? (
          <a href={`/posts/${post.id}/`} aria-label="記事へ進む">
            <img
              width={720}
              height={360}
              data-src={`${post.eyecatch.url}?auto=format`}
              data-srcset={`${post.eyecatch.url}?auto=format&fit=crop&crop=top&w=640&h=320 640w, ${post.eyecatch.url}?auto=format&fit=crop&crop=top&w=750&h=375 750w, ${post.eyecatch.url}?auto=format&fit=crop&crop=top&w=828&h=414 828w, ${post.eyecatch.url}?auto=format&fit=crop&crop=top&w=1080&h=540 1080w, ${post.eyecatch.url}?auto=format&fit=crop&crop=top&w=1200&h=600 1200w, ${post.eyecatch.url}?auto=format&fit=crop&crop=top&w=1920&h=960 1920w, ${post.eyecatch.url}?auto=format&fit=crop&crop=top&w=2048&h=1024 2048w, ${post.eyecatch.url}?auto=format&fit=crop&crop=top&w=3840&h=1920 3840w`}
              alt=""
              class="lazyload"
              loading="eager"
            />
          </a>
        ) : post.eyecatch ? (
          <a href={`/posts/${post.id}/`} aria-label="記事へ進む">
            <img
              width={720}
              height={360}
              data-src={`${post.eyecatch.url}?auto=format`}
              data-srcset={`${post.eyecatch.url}?auto=format&fit=crop&crop=top&w=640&h=320 640w, ${post.eyecatch.url}?auto=format&fit=crop&crop=top&w=750&h=375 750w, ${post.eyecatch.url}?auto=format&fit=crop&crop=top&w=828&h=414 828w, ${post.eyecatch.url}?auto=format&fit=crop&crop=top&w=1080&h=540 1080w, ${post.eyecatch.url}?auto=format&fit=crop&crop=top&w=1200&h=600 1200w, ${post.eyecatch.url}?auto=format&fit=crop&crop=top&w=1920&h=960 1920w, ${post.eyecatch.url}?auto=format&fit=crop&crop=top&w=2048&h=1024 2048w, ${post.eyecatch.url}?auto=format&fit=crop&crop=top&w=3840&h=1920 3840w`}
              alt=""
              class="lazyload"
              loading="lazy"
            />
          </a>
        ) : null}
        <div class="spans">
          <span class="published_time_span">
            <time datetime={post.publishedAt}>
              {new Date(post.publishedAt).toLocaleString("ja-JP", {
                timeZone: "Asia/Tokyo",
              })}
            </time>
          </span>
          {post.category && (
            <span class="category">
              <a href={`/category/${post.category.id}/`}>{post.category.name}</a>
            </span>
          )}
        </div>
        <a href={`/posts/${post.id}/`}>
          <h2>{post.title}</h2>
          <div class="description">
            {post.content.replace(/<("[^"]*"|'[^']*'|[^'">])*>/g, "").length >
            100
              ? post.content
                  .replace(/<("[^"]*"|'[^']*'|[^'">])*>/g, "")
                  .slice(0, 101) + "..."
              : post.content.replace(/<("[^"]*"|'[^']*'|[^'">])*>/g, "")}
          </div>
        </a>
      </div>
    ))
  }
</div>
