---
import HeaderLink from "./HeaderLink.astro";
import SearchForm from "./SearchForm.astro";
import GoogleResponsiveAd from "./GoogleResponsiveAd";
//microCMS呼び出し
import { cmsBlog } from "../library/microcms";
const { contents: categories } = await cmsBlog.getCategories({
  fields: ["id", "name"],
  orders: "name",
});
const { contents: links } = await cmsBlog.getLinks({
  fields: ["createdAt", "title", "url"],
  orders: "createdAt",
});
---

<div class="sidebar">
  <nav>
    <SearchForm searchform_text_id="sidebar_searchform_text" />
    <div class="sidebar_feed_and_about">
      <ul class="">
        <li>
          <a href="/feed.xml" target="_blank" rel="noopener noreferrer">
            <i class="fa-sharp fa-solid fa-rss"></i>RSSフィード</a
          >
        </li>
        <li><a href="/about">プライバシーポリシー</a></li>
      </ul>
    </div>
    <div class="sidebar_private_links">
      <p>Accounts</p>
      <ul class="">
        {
          import.meta.env.LIT_LINK ? (
            <li>
              <a
                href={import.meta.env.LIT_LINK}
                target="_blank"
                rel="noopener noreferrer"
                class=""
              >
                各種アカウントへのリンク（lit.link）
              </a>
            </li>
          ) : null
        }
        {
          import.meta.env.TWITTER ? (
            <li>
              <a
                href={import.meta.env.TWITTER}
                target="_blank"
                rel="noopener noreferrer"
                class=""
              >
                X
              </a>
            </li>
          ) : null
        }
        {
          import.meta.env.MASTODON ? (
            <li>
              <a
                href={import.meta.env.MASTODON}
                target="_blank"
                rel="noopener noreferrer"
                class=""
              >
                Mastodon
              </a>
            </li>
          ) : null
        }
        {
          import.meta.env.PIXIV ? (
            <li>
              <a
                href={import.meta.env.PIXIV}
                target="_blank"
                rel="noopener noreferrer"
                class=""
              >
                pixiv
              </a>
            </li>
          ) : null
        }
        {
          import.meta.env.FANBOX ? (
            <li>
              <a
                href={import.meta.env.FANBOX}
                target="_blank"
                rel="noopener noreferrer"
                class=""
              >
                FANBOX
              </a>
            </li>
          ) : null
        }
        {
          import.meta.env.OLD_SITE ? (
            <li>
              <a
                href={import.meta.env.OLD_SITE}
                target="_blank"
                rel="noopener noreferrer"
                class=""
              >
                旧サイト
              </a>
            </li>
          ) : null
        }
        {
          import.meta.env.DEVIANTART ? (
            <li>
              <a
                href={import.meta.env.DEVIANTART}
                target="_blank"
                rel="noopener noreferrer"
                class=""
              >
                DeviantArt
              </a>
            </li>
          ) : null
        }
      </ul>
    </div>
    <div class="sidebar_categories_links">
      <p>Categories</p>
      <ul>
        {
          categories.map((category: any) => (
            <li>
              <HeaderLink href={`/category/${category.id}/`}>
                {category.name}
              </HeaderLink>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="sidebar_external_links">
      <p>Links</p>
      <ul>
        {
          links.map((link: any) => (
            <li>
              <HeaderLink
                href={link.url}
                target="_blank"
                rel="noopener noreferrer"
              >
                {link.title}
              </HeaderLink>
            </li>
          ))
        }
      </ul>
    </div>
  </nav>
  <GoogleResponsiveAd client:only="preact" />
</div>
