---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Sidebar from "../components/Sidebar.astro";
import GoogleResponsiveAd from "../components/GoogleResponsiveAd";
import ShareButtons from "../components/ShareButtons.astro";
import { SITE_TITLE } from "../config";
import type { Blog } from "../library/microcms";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
    categoryId: string;
    categoryName: string;
    lcp?: string;
  };
  newer?: Blog;
  older?: Blog;
}

const {
  content: {
    title,
    description,
    pubDate,
    updatedDate,
    heroImage,
    categoryId,
    categoryName,
    lcp,
  },
  newer,
  older,
} = Astro.props;
const href_list = [
  `?fm=webp&fit=crop&crop=top&w=640&h=320`,
  `?fm=webp&fit=crop&crop=top&w=750&h=375`,
  `?fm=webp&fit=crop&crop=top&w=828&h=414`,
  `?fm=webp&fit=crop&crop=top&w=1080&h=540`,
  `?fm=webp&fit=crop&crop=top&w=1200&h=600`,
  `?fm=webp&fit=crop&crop=top&w=1920&h=960`,
  `?fm=webp&fit=crop&crop=top&w=2048&h=1024`,
  `?fm=webp&fit=crop&crop=top&w=3840&h=1920`,
];
const href_list2 = [
  `?fm=webp&w=640`,
  `?fm=webp&w=750`,
  `?fm=webp&w=828`,
  `?fm=webp&w=1080`,
  `?fm=webp&w=1200`,
  `?fm=webp&w=1920`,
  `?fm=webp&w=2048`,
  `?fm=webp&w=3840`,
];
---

<html lang="ja">
  <head>
    <BaseHead
      title={`${title} | ${SITE_TITLE}`}
      description={description}
      image={heroImage}
    />
    <style>
      .title {
        font-size: 2em;
        margin: 0.25em 0 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
    </style>
    <!-- {heroImage ? href_list.map((href_elm) => <link rel="preload" as="image" href={heroImage + href_elm} />):null} -->
    <!-- {lcp ? href_list2.map((href_elm2) => <link rel="preload" as="image" href={lcp + href_elm2} />):null} -->
  </head>

  <body>
    <Header />
    <main class="main">
      <Sidebar />
      <article class="contents">
        {
          heroImage && (
            <img
              width={720}
              height={360}
              data-src={`${heroImage}?fm=webp`}
              data-srcset={`${heroImage}?fm=webp&fit=crop&crop=top&w=640&h=320 640w, ${heroImage}?fm=webp&fit=crop&crop=top&w=750&h=375 750w`}
              data-sizes="(min-width: 640px) 1000px, 100vw"
              alt=""
              class="lazyload"
              loading="eager"
            />
          )
        }
        <h1 class="title">{title}</h1>
        {pubDate && <time>{pubDate}</time>}
        {
          updatedDate && (
            <div>
              Last updated on <time>{updatedDate}</time>
            </div>
          )
        }
        {
          categoryId && categoryName && (
            <div class="post_category">
              <span>
                <a href={`/category/${categoryId}`}>{categoryName}</a>
              </span>
            </div>
          )
        }
        <ShareButtons title={title} />
        <hr />
        <slot />
        <ShareButtons title={title} />
        <nav class="newer_home_older">
          <ul>
            <li>
              {
                newer && (
                  <div class="newer">
                    <>
                      <a href={`/posts/${newer.id}/`}>{newer.title}</a>
                      <span>&#9665;</span>
                    </>
                  </div>
                )
              }
            </li>
            <li><a href="/">Home</a></li>
            <li>
              {
                older && (
                  <div class="older">
                    <>
                      <span>&#9655;</span>
                      <a href={`/posts/${older.id}/`}>{older.title}</a>
                    </>
                  </div>
                )
              }
            </li>
          </ul>
        </nav>
      </article>
      <GoogleResponsiveAd client:only="preact" />
    </main>
    <Footer />
  </body>
</html>
