---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Sidebar from "../components/Sidebar.astro";
import GoogleResponsiveAd from "../components/GoogleResponsiveAd";
import { SITE_TITLE } from "../config";
import type { Blog } from "../library/microcms";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
    categoryId: string;
    categoryName: string;
    lcp?: string;
  };
  newer?: Blog;
  older?: Blog;
}

const {
  content: {
    title,
    description,
    pubDate,
    updatedDate,
    heroImage,
    categoryId,
    categoryName,
    lcp,
  },
  newer,
  older,
} = Astro.props;
const href_list = [
  `?fm=webp&fit=crop&crop=top&w=640&h=320`,
  `?fm=webp&fit=crop&crop=top&w=750&h=375`,
  `?fm=webp&fit=crop&crop=top&w=828&h=414`,
  `?fm=webp&fit=crop&crop=top&w=1080&h=540`,
  `?fm=webp&fit=crop&crop=top&w=1200&h=600`,
  `?fm=webp&fit=crop&crop=top&w=1920&h=960`,
  `?fm=webp&fit=crop&crop=top&w=2048&h=1024`,
  `?fm=webp&fit=crop&crop=top&w=3840&h=1920`,
];
const href_list2 = [
  `?fm=webp&w=640`,
  `?fm=webp&w=750`,
  `?fm=webp&w=828`,
  `?fm=webp&w=1080`,
  `?fm=webp&w=1200`,
  `?fm=webp&w=1920`,
  `?fm=webp&w=2048`,
  `?fm=webp&w=3840`,
];
---

<html lang="ja">
  <head>
    <BaseHead
      title={`${title} | ${SITE_TITLE}`}
      description={description}
      image={heroImage}
    />
    <style>
      .title {
        font-size: 2em;
        margin: 0.25em 0 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
    </style>
    <!-- {heroImage ? href_list.map((href_elm) => <link rel="preload" as="image" href={heroImage + href_elm} />):null} -->
    <!-- {lcp ? href_list2.map((href_elm2) => <link rel="preload" as="image" href={lcp + href_elm2} />):null} -->
  </head>

  <body>
    <Header />
    <main class="main">
      <Sidebar />
      <article class="contents">
        {
          heroImage && (
            <img
              width={720}
              height={360}
              data-src={`${heroImage}?fm=webp`}
              data-srcset={`${heroImage}?fm=webp&fit=crop&crop=top&w=640&h=320 640w, ${heroImage}?fm=webp&fit=crop&crop=top&w=750&h=375 750w, ${heroImage}?fm=webp&fit=crop&crop=top&w=828&h=414 828w, ${heroImage}?fm=webp&fit=crop&crop=top&w=1080&h=540 1080w, ${heroImage}?fm=webp&fit=crop&crop=top&w=1200&h=600 1200w, ${heroImage}?fm=webp&fit=crop&crop=top&w=1920&h=960 1920w, ${heroImage}?fm=webp&fit=crop&crop=top&w=2048&h=1024 2048w, ${heroImage}?fm=webp&fit=crop&crop=top&w=3840&h=1920 3840w`}
              alt=""
              class="lazyload"
              loading="lazy"
            />
          )
        }
        <h1 class="title">{title}</h1>
        {pubDate && <time>{pubDate}</time>}
        {
          updatedDate && (
            <div>
              Last updated on <time>{updatedDate}</time>
            </div>
          )
        }
        {
          categoryId && categoryName && (
            <div class="post_category">
              <span>
                <a href={`/category/${categoryId}`}>{categoryName}</a>
              </span>
            </div>
          )
        }
        <div class="spans">
          <span class="tweet">
            <a
              href={`https://twitter.com/intent/tweet?url=%0a${
                Astro.request.url
              }&text=${encodeURI(`${title} | ${SITE_TITLE}`)}`}
              class="tweet_button"
              data-show-count="false"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Twitter"
            >
              <i class="fa-brands fa-x-twitter"></i>
            </a>
          </span>
          <span class="facebook">
            <a
              href={`http://www.facebook.com/share.php?u=${Astro.request.url}`}
              class="facebook_button"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Facebook"
            >
              <i class="fa-brands fa-facebook"></i>
            </a>
          </span>
          <span class="mastodon">
            <a
              class="btn text-white"
              href="https://donshare.net/share.html?text="
              onclick="window.open(this.href + encodeURI(decodeURI(document.title)) + '&url=' + encodeURI(decodeURI(location.href)), '', 'width=500,height=400'); return false; "
              aria-label="Mastodon"
            >
              <i class="fab fa-mastodon fa-fw"></i>
            </a>
          </span>
          <span class="misskey">
            <a
              href="https://misskeyshare.link/share.html?text="
              onclick="window.open(this.href + encodeURI(decodeURI(document.title)) + '&url=' + encodeURI(decodeURI(location.href)), '', 'width=500,height=400'); return false; "
              aria-label="Misskey"
              ><img
                src="/mi.webp"
                style=""
                alt="Misskey_icon"
                width="20px"
                height="14px"
              /></a
            >
          </span>
          <span class="line">
            <a
              href={`http://line.me/R/msg/text/?${
                Astro.request.url
              }%0a${encodeURI(`${title} | ${SITE_TITLE}`)}`}
              class="line_button"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="LINE"
            >
              <i class="fa-brands fa-line"></i>
            </a>
          </span>
          <span class="pocket">
            <a
              href={`http://getpocket.com/edit?url=${
                Astro.request.url
              }&title=${encodeURI(`${title} | ${SITE_TITLE}`)}`}
              class="pocket_button"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Pocket"
            >
              <i class="fa-brands fa-get-pocket"></i>
            </a>
          </span>
          <span class="feedly">
            <a
              href="https://feedly.com/i/subscription/feed%2Fhttps%3A%2F%2Fwww.vermilion3.xyz%2Ffeed.xml"
              target="blank"
              ><img
                id="feedlyFollow"
                src="https://s1.feedly.com/legacy/feedly-follow-square-flat-green_2x.png"
                alt="follow us in feedly"
                width="28"
                height="28"
              /></a
            >
          </span>
          <span class="rss">
            <a
              href="/feed.xml"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="RSS feed"
            >
              <i class="fa-sharp fa-solid fa-rss"></i>
            </a>
          </span>
        </div>
        <hr />
        <slot />
        <span class="tweet">
          <a
            href={`https://twitter.com/intent/tweet?url=%0a${
              Astro.request.url
            }&text=${encodeURI(`${title} | ${SITE_TITLE}`)}`}
            class="tweet_button"
            data-show-count="false"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Twitter"
          >
            <i class="fa-brands fa-x-twitter"></i>
          </a>
        </span>
        <span class="facebook">
          <a
            href={`http://www.facebook.com/share.php?u=${Astro.request.url}`}
            class="facebook_button"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Facebook"
          >
            <i class="fa-brands fa-facebook"></i>
          </a>
        </span>
        <span class="mastodon">
          <a
            class="btn text-white"
            href="https://donshare.net/share.html?text="
            onclick="window.open(this.href + encodeURI(decodeURI(document.title)) + '&url=' + encodeURI(decodeURI(location.href)), '', 'width=500,height=400'); return false; "
            aria-label="Mastodon"><i class="fab fa-mastodon fa-fw"></i></a
          >
        </span>
        <span class="misskey">
          <a
            href="https://misskeyshare.link/share.html?text="
            onclick="window.open(this.href + encodeURI(decodeURI(document.title)) + '&url=' + encodeURI(decodeURI(location.href)), '', 'width=500,height=400'); return false; "
            aria-label="Misskey"
            ><img
              src="/mi.webp"
              alt="Misskey_icon"
              width="20px"
              height="14px"
            /></a
          >
        </span>
        <span class="line">
          <a
            href={`http://line.me/R/msg/text/?${
              Astro.request.url
            }%0a${encodeURI(`${title} | ${SITE_TITLE}`)}`}
            class="line_button"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="LINE"
          >
            <i class="fa-brands fa-line"></i>
          </a>
        </span>
        <span class="pocket">
          <a
            href={`http://getpocket.com/edit?url=${
              Astro.request.url
            }&title=${encodeURI(`${title} | ${SITE_TITLE}`)}`}
            class="pocket_button"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Pocket"
          >
            <i class="fa-brands fa-get-pocket"></i>
          </a>
        </span>
        <span class="feedly">
          <a
            href="https://feedly.com/i/subscription/feed%2Fhttps%3A%2F%2Fwww.vermilion3.xyz%2Ffeed.xml"
            target="blank"
            ><img
              id="feedlyFollow"
              src="https://s1.feedly.com/legacy/feedly-follow-square-flat-green_2x.png"
              alt="follow us in feedly"
              width="28"
              height="28"
            /></a
          >
        </span>
        <span class="rss">
          <a
            href="/feed.xml"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="RSS feed"
          >
            <i class="fa-sharp fa-solid fa-rss"></i>
          </a>
        </span>
        <nav class="newer_home_older">
          <ul>
            <li>
              {
                newer && (
                  <div class="newer">
                    <>
                      <a href={`/posts/${newer.id}/`}>{newer.title}</a>
                      <span>&#9665;</span>
                    </>
                  </div>
                )
              }
            </li>
            <li><a href="/">Home</a></li>
            <li>
              {
                older && (
                  <div class="older">
                    <>
                      <span>&#9655;</span>
                      <a href={`/posts/${older.id}/`}>{older.title}</a>
                    </>
                  </div>
                )
              }
            </li>
          </ul>
        </nav>
      </article>
      <GoogleResponsiveAd client:only="preact" />
    </main>
    <Footer />
  </body>
</html>
