---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Sidebar from "../components/Sidebar.astro";
import { SITE_TITLE } from "../config";
import type { Blog } from "../library/microcms";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
    categoryId: string;
    categoryName: string;
  };
  newer?: Blog;
  older?: Blog;
}

const {
  content: {
    title,
    description,
    pubDate,
    updatedDate,
    heroImage,
    categoryId,
    categoryName,
  },
  newer,
  older,
} = Astro.props;
---

<html lang="ja">
  <head>
    <BaseHead
      title={`${title}|${SITE_TITLE}`}
      description={description}
      image={heroImage}
    />
    <style>
      .title {
        font-size: 2em;
        margin: 0.25em 0 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
    </style>
    <!-- {heroImage && <link rel="preload" as="image" href={heroImage} />} -->
  </head>

  <body>
    <Header />
    <main class="main">
      <Sidebar />
      <article class="contents">
        {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
        <h1 class="title">{title}</h1>
        {pubDate && <time>{pubDate}</time>}
        {
          updatedDate && (
            <div>
              Last updated on <time>{updatedDate}</time>
            </div>
          )
        }
        <div class="spans">
          {
            categoryId && categoryName && (
              <span class="category">
                <a href={`/category/${categoryId}`}>{categoryName}</a>
              </span>
            )
          }
          <span class="tweet">
            <a
              href={`https://twitter.com/intent/tweet?url=${
                Astro.request.url
              }&text=${encodeURI(`${title}|${SITE_TITLE}`)}%0a`}
              class="tweet_button"
              data-show-count="false"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="https://images.microcms-assets.io/assets/8026aec5aaba42abb48e90c99ce4967d/d0d3a221531e4a47b95ff2a97363f3e0/Twitter_icon.svg"
                alt="tweet button image"
              /></a
            >
          </span>
          <span class="rss">
            <a href="/feed.xml"
              target="_blank"
              rel="noopener noreferrer"
            ><img
                src="https://images.microcms-assets.io/assets/8026aec5aaba42abb48e90c99ce4967d/d9257bd33e1a4538a525d9575fd09368/rss_feed.svg"
                alt="RSS feed"
                width="16px"
                height="16px"
              /></a
            >
          </span>
        </div>
        <hr />
        <slot />
        <span class="tweet">
          <a
            href={`https://twitter.com/intent/tweet?url=${
              Astro.request.url
            }&text=${encodeURI(`${title}|${SITE_TITLE}`)}%0a`}
            class="tweet_button"
            data-show-count="false"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="https://images.microcms-assets.io/assets/8026aec5aaba42abb48e90c99ce4967d/d0d3a221531e4a47b95ff2a97363f3e0/Twitter_icon.svg"
              alt="tweet button image"
            />
          </a>
        </span>
        <span class="rss">
          <a href="/feed.xml"
            target="_blank"
              rel="noopener noreferrer"
          ><img
              src="https://images.microcms-assets.io/assets/8026aec5aaba42abb48e90c99ce4967d/d9257bd33e1a4538a525d9575fd09368/rss_feed.svg"
              alt="RSS feed"
              width="16px"
              height="16px"
            /></a
          >
        </span>
        <nav class="newer_home_older">
          <ul>
            <li>
              {
                newer && (
                  <div class="newer">
                    <>
                      <a href={`/posts/${newer.id}/`}>{newer.title}</a>
                      <span>&#9665;</span>
                    </>
                  </div>
                )
              }
            </li>
            <li><a href="/">Home</a></li>
            <li>
              {
                older && (
                  <div class="older">
                    <>
                      <span>&#9655;</span>
                      <a href={`/posts/${older.id}/`}>{older.title}</a>
                    </>
                  </div>
                )
              }
            </li>
          </ul>
        </nav>
      </article>
    </main>
    <Footer />
  </body>
</html>
