---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Sidebar from "../components/Sidebar.astro";
import GoogleResponsiveAd from "../components/GoogleResponsiveAd";
import { SITE_TITLE } from "../config";
import type { Blog } from "../library/microcms";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
    categoryId: string;
    categoryName: string;
  };
  newer?: Blog;
  older?: Blog;
}

const {
  content: {
    title,
    description,
    pubDate,
    updatedDate,
    heroImage,
    categoryId,
    categoryName,
  },
  newer,
  older,
} = Astro.props;
---

<html lang="ja">
  <head>
    <BaseHead
      title={`${title}|${SITE_TITLE}`}
      description={description}
      image={heroImage}
    />
    <style>
      .title {
        font-size: 2em;
        margin: 0.25em 0 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
    </style>
    <!-- {heroImage && <link rel="preload" as="image" href={heroImage} />} -->
  </head>

  <body>
    <Header />
    <main class="main">
      <Sidebar />
      <article class="contents">
        {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
        <h1 class="title">{title}</h1>
        {pubDate && <time>{pubDate}</time>}
        {
          updatedDate && (
            <div>
              Last updated on <time>{updatedDate}</time>
            </div>
          )
        }
        {
          categoryId && categoryName && (
            <div class="post_category">
              <span>
                <a href={`/category/${categoryId}`}>{categoryName}</a>
              </span>
            </div>
          )
        }
        <div class="spans">
          <span class="tweet">
            <a
              href={`https://twitter.com/intent/tweet?url=%0a${
                Astro.request.url
              }&text=${encodeURI(`${title}|${SITE_TITLE}`)}`}
              class="tweet_button"
              data-show-count="false"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Twitter"
            >
              <i class="fab fa-twitter"></i>
            </a>
          </span>
          <span class="facebook">
            <a
              href={`http://www.facebook.com/share.php?u=${Astro.request.url}`}
              class="facebook_button"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Facebook"
            >
              <i class="fa-brands fa-facebook"></i>
            </a>
          </span>
          <span class="line">
            <a
              href={`http://line.me/R/msg/text/?${
                Astro.request.url
              }%0a${encodeURI(`${title}|${SITE_TITLE}`)}`}
              class="line_button"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="LINE"
            >
              <i class="fa-brands fa-line"></i>
            </a>
          </span>
          <span class="pocket">
            <a
              href={`http://getpocket.com/edit?url=${
                Astro.request.url
              }&title=${encodeURI(`${title}|${SITE_TITLE}`)}`}
              class="pocket_button"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Pocket"
            >
              <i class="fa-brands fa-get-pocket"></i>
            </a>
          </span>
          <span class="rss">
            <a
              href="/feed.xml"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="RSS feed"
            >
              <img
                src="https://images.microcms-assets.io/assets/8026aec5aaba42abb48e90c99ce4967d/d9257bd33e1a4538a525d9575fd09368/rss_feed.svg"
                alt="RSS feed"
                width="16px"
                height="16px"
              />
            </a>
          </span>
        </div>
        <hr />
        <slot />
        <span class="tweet">
          <a
            href={`https://twitter.com/intent/tweet?url=%0a${
              Astro.request.url
            }&text=${encodeURI(`${title}|${SITE_TITLE}`)}`}
            class="tweet_button"
            data-show-count="false"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Twitter"
          >
            <i class="fab fa-twitter"></i>
          </a>
        </span>
        <span class="facebook">
          <a
            href={`http://www.facebook.com/share.php?u=${Astro.request.url}`}
            class="facebook_button"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Facebook"
          >
            <i class="fa-brands fa-facebook"></i>
          </a>
        </span>
        <span class="line">
          <a
            href={`http://line.me/R/msg/text/?${
              Astro.request.url
            }%0a${encodeURI(`${title}|${SITE_TITLE}`)}`}
            class="line_button"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="LINE"
          >
            <i class="fa-brands fa-line"></i>
          </a>
        </span>
        <span class="pocket">
          <a
            href={`http://getpocket.com/edit?url=${
              Astro.request.url
            }&title=${encodeURI(`${title}|${SITE_TITLE}`)}`}
            class="pocket_button"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Pocket"
          >
            <i class="fa-brands fa-get-pocket"></i>
          </a>
        </span>
        <span class="rss">
          <a
            href="/feed.xml"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="RSS feed"
          >
            <img
              src="https://images.microcms-assets.io/assets/8026aec5aaba42abb48e90c99ce4967d/d9257bd33e1a4538a525d9575fd09368/rss_feed.svg"
              alt="RSS feed"
              width="16px"
              height="16px"
            />
          </a>
        </span>
        <nav class="newer_home_older">
          <ul>
            <li>
              {
                newer && (
                  <div class="newer">
                    <>
                      <a href={`/posts/${newer.id}/`}>{newer.title}</a>
                      <span>&#9665;</span>
                    </>
                  </div>
                )
              }
            </li>
            <li><a href="/">Home</a></li>
            <li>
              {
                older && (
                  <div class="older">
                    <>
                      <span>&#9655;</span>
                      <a href={`/posts/${older.id}/`}>{older.title}</a>
                    </>
                  </div>
                )
              }
            </li>
          </ul>
        </nav>
      </article>
      <GoogleResponsiveAd client:only="preact" />
    </main>
    <Footer />
  </body>
</html>
